---
---

@charset "utf-8";

@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";

@mixin trans-bg-image($color, $image-url, $opacity: 0.6) {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff851b+0,ff851b+100&amp;0.6+0,0.6+100 */
	background-image: -moz-linear-gradient(top,  rgba($color, $opacity) 0%, rgba($color, $opacity) 100%), url($image-url); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($color, $opacity)), color-stop(100%,rgba($color, $opacity))), url($image-url); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba($color, $opacity) 0%,rgba($color, $opacity) 100%), url($image-url); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba($color, $opacity) 0%,rgba($color, $opacity) 100%), url($image-url); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba($color, $opacity) 0%,rgba($color, $opacity) 100%), url($image-url); /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba($color, $opacity) 0%,rgba($color, $opacity) 100%), url($image-url); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff851b', endColorstr='#99ff851b',GradientType=0 ), url($image-url); /* IE6-9 */
}



body {
	margin-top: 74px;
}

#mainNav {
	border-radius: 0px;
}

#mainJumbo {
	margin-top: -20px;
	background-image: url('http://commbocc.github.io/FreedomToGO/images/walk.jpg');
}

#infoJumbo {
	padding: 0px;

	h1, h2, h3, h4, h5, h6 {

		color: #fff;

		small {
			color: #fff;
		}
	}

	.lead { color: #fff; }


}

#carousel-info-jumbo {

	.item { 

		// height: 300px;

		padding: 20px 0px 70px;

		background-position: center center;
		background-size: cover;

	}


	// #item0 {
	// 	@include trans-bg-image($brand-warning, 'http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-168504675.jpg');
	// }

	// #item1 {
	// 	@include trans-bg-image($brand-primary, 'http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-494419003.jpg');
	// }

	// #item2 {
	// 	@include trans-bg-image($brand-success, 'http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-77136619.jpg');
	// }
}

.jumbotron {
	h1, h2, h3, h4, h5, h6 {

		color: #fff;
		text-shadow: 2px 2px #333;

		small {
			color: #fff;
		}
	}

	background-repeat: no-repeat;
	background-position: center center;
	// background-attachment: fixed;
	background-size: cover;

}

.jumbo-parallax {
	
	// background-image: url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-476997316.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;

	// -webkit-animation-name: jumboImage;
	// animation-name: jumboImage;
	// -webkit-animation-timing-function: linear;
	// animation-timing-function: linear;
	// -webkit-animation-iteration-count: infinite;
	// animation-iteration-count: infinite;
	// -webkit-animation-duration: 20s; 
	// animation-duration: 20s;

	// h2 {
	// 	color: #fff;
	// 	margin: 60px auto -20px;
	// }

	// text-shadow: 2px 2px #333;



}

.btn-xl {
	font-size: 0.9em;
	padding: 15px;

	@media (min-width: $screen-sm-min) {
		font-size: 1.3em;
		padding: 20px;
	}
}

.table-condensed > tbody > tr > td {
	padding: 5px 15px !important;
}

.panel-heading-sharp {
	border-radius: 0px;
}

@-webkit-keyframes jumboImage {
	// 0%     {background-position: center top;}
	// 50%    {background-position: center center;}
	// 100%   {background-position: center top;}
}
@keyframes jumboImage {
	// 0%     {background-position: center top;}
	// 50%    {background-position: center center;}
	// 100%   {background-position: center top;}
}


