---
---

@charset "utf-8";

@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";


body {
	margin-top: 74px;
}

#mainNav {
	border-radius: 0px;

	// background: #444444; /* Old browsers */
	// background: -moz-linear-gradient(top,  #444444 0%, #555555 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#555555)); /* Chrome,Safari4+ */
	// background: -webkit-linear-gradient(top,  #444444 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
	// background: -o-linear-gradient(top,  #444444 0%,#555555 100%); /* Opera 11.10+ */
	// background: -ms-linear-gradient(top,  #444444 0%,#555555 100%); /* IE10+ */
	// background: linear-gradient(to bottom,  #444444 0%,#555555 100%); /* W3C */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#555555',GradientType=0 ); /* IE6-9 */

}

#mainJumbo {
	margin-top: -20px;
}

#infoJumbo {
	padding: 0px;
}

// #otherJumbo {
// 	padding: 0px;
// }

#carousel-info-jumbo {
	.item { 

		height: 400px;
		color: #fff;

		background-position: center center;
		background-size: cover;

	}


	#item0 {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100&amp;0.65+0,0.65+100 */
		background-image: -moz-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%, rgba(43,136,217,0.65) 50%, rgba(32,124,202,0.65) 51%, rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-168504675.jpg'); /* FF3.6+ */
		background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(59,103,158,0.65)), color-stop(50%,rgba(43,136,217,0.65)), color-stop(51%,rgba(32,124,202,0.65)), color-stop(100%,rgba(125,185,232,0.65))), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-168504675.jpg'); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-168504675.jpg'); /* Chrome10+,Safari5.1+ */
		background-image: -o-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-168504675.jpg'); /* Opera 11.10+ */
		background-image: -ms-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-168504675.jpg'); /* IE10+ */
		background-image: linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-168504675.jpg'); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63b679e', endColorstr='#a67db9e8',GradientType=1 ), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-168504675.jpg'); /* IE6-9 fallback on horizontal gradient */
	}

	#item1 {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100&amp;0.65+0,0.65+100 */
		background-image: -moz-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%, rgba(43,136,217,0.65) 50%, rgba(32,124,202,0.65) 51%, rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-494419003.jpg'); /* FF3.6+ */
		background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(59,103,158,0.65)), color-stop(50%,rgba(43,136,217,0.65)), color-stop(51%,rgba(32,124,202,0.65)), color-stop(100%,rgba(125,185,232,0.65))), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-494419003.jpg'); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-494419003.jpg'); /* Chrome10+,Safari5.1+ */
		background-image: -o-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-494419003.jpg'); /* Opera 11.10+ */
		background-image: -ms-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-494419003.jpg'); /* IE10+ */
		background-image: linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-494419003.jpg'); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63b679e', endColorstr='#a67db9e8',GradientType=1 ), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-494419003.jpg'); /* IE6-9 fallback on horizontal gradient */
	}

	#item2 {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100&amp;0.65+0,0.65+100 */
		background-image: -moz-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%, rgba(43,136,217,0.65) 50%, rgba(32,124,202,0.65) 51%, rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-77136619.jpg'); /* FF3.6+ */
		background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(59,103,158,0.65)), color-stop(50%,rgba(43,136,217,0.65)), color-stop(51%,rgba(32,124,202,0.65)), color-stop(100%,rgba(125,185,232,0.65))), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-77136619.jpg'); /* Chrome,Safari4+ */
		background-image: -webkit-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-77136619.jpg'); /* Chrome10+,Safari5.1+ */
		background-image: -o-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-77136619.jpg'); /* Opera 11.10+ */
		background-image: -ms-linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-77136619.jpg'); /* IE10+ */
		background-image: linear-gradient(45deg,  rgba(59,103,158,0.65) 0%,rgba(43,136,217,0.65) 50%,rgba(32,124,202,0.65) 51%,rgba(125,185,232,0.65) 100%), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-77136619.jpg'); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63b679e', endColorstr='#a67db9e8',GradientType=1 ), url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-77136619.jpg'); /* IE6-9 fallback on horizontal gradient */
	}
}

.jumbo-parallax {

	

	// background-image: url('http://commbocc.github.io/FreedomToGO/images/ThinkstockPhotos-476997316.jpg');
	background-position: center center;
	background-size: cover;

	// -webkit-animation-name: jumboImage;
	// animation-name: jumboImage;
	// -webkit-animation-timing-function: linear;
	// animation-timing-function: linear;
	// -webkit-animation-iteration-count: infinite;
	// animation-iteration-count: infinite;
	// -webkit-animation-duration: 20s; 
	// animation-duration: 20s;

	// h2 {
	// 	color: #fff;
	// 	margin: 60px auto -20px;
	// }

	// text-shadow: 2px 2px #333;



}

.panel-heading-sharp {
	border-radius: 0px;
}

@-webkit-keyframes jumboImage {
	// 0%     {background-position: center top;}
	// 50%    {background-position: center center;}
	// 100%   {background-position: center top;}
}
@keyframes jumboImage {
	// 0%     {background-position: center top;}
	// 50%    {background-position: center center;}
	// 100%   {background-position: center top;}
}