---
---

@charset "utf-8";

@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";

// @import url(https://fonts.googleapis.com/css?family=Work+Sans:300);

@import "timeline";

@mixin trans-bg-image($color, $image-url, $opacity: 0.45) {
	background-image: url($image-url);
	background-image: -moz-linear-gradient(top,  rgba($color, $opacity) 0%, rgba($color, $opacity) 100%), url($image-url); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($color, $opacity)), color-stop(100%,rgba($color, $opacity))), url($image-url); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba($color, $opacity) 0%,rgba($color, $opacity) 100%), url($image-url); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba($color, $opacity) 0%,rgba($color, $opacity) 100%), url($image-url); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba($color, $opacity) 0%,rgba($color, $opacity) 100%), url($image-url); /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba($color, $opacity) 0%,rgba($color, $opacity) 100%), url($image-url); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73000000', endColorstr='#73000000',GradientType=0 );
}

body {
	margin-top: 74px;
}

#mainJumbo {
	margin-top: -29px;
	@include trans-bg-image($brand-primary, 'http://commbocc.github.io/tedtimeline/images/bus.jpg', 0.4);

	background-repeat: no-repeat;
	background-position: center center;
	// background-attachment: fixed;
	background-size: cover;


	@media (max-width: 992px) {
		background-attachment: initial;
		background-size: cover;
	}

	h1 {
		color: #fff;
		text-shadow: 2px 2px #222;
		small {
			color: #fff;
		}
	}
}