<footer id="page-footer">

	<div class="container">

		<hr>

		<ul class="list-inline text-center">
			<ul class="list-inline text-center">

				{% for link in site.data.menu_nav %}
				{% if link.title %}
				<li>
					<a href="{{ link.href | prepend: site.baseurl }}">{{ link.title }}</a>
				</li>
				{% endif %}
				{% endfor %}

				<li>
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
				</li>

			</ul>

			<p>
				<ul class="list-inline text-center small">
					<li>
						<a href="#">Terms of Service</a>
					</li>
					<li>
						<a href="#">Privacy Policy</a>
					</li>
					<li>
						<a href="#">Return Policy</a>
					</li>
				</ul>
			</p>

			<div class="text-center small text-muted">
				<p>
					&copy; 2005-2015<br>
					<!-- Hot Car Accessories Inc. -->
					Hillsborough County
				</p>

			</div>

		</div>

	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap-3.3.5.min.js"></script>
	<script src="/js/theme.js"></script>
	<script src="/js/bslightbox.js"></script>