<div id="infoJumbo" class="jumbotron">
	
	<div id="carousel-info-jumbo" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div id="item0" class="item active">
				<div class="container">

					<div class="page-header">
						<h2 class="text-center">
							Stay The Course<br>
							<small>We do not raise any additional funding for transportation.</small>
						</h2>
					</div>

					<p class="lead">
						On this path, we will need to pull money from other programs and services to address the growing backlog of transportation needs. Congestion will likely continue, and quality of life will decrease as other programs lose funding.
					</p>
					
				</div>
			</div>

			<div id="item1" class="item">
				<div class="container">
					<div class="page-header">
						<h2 class="text-center">
							Address Our Challenges<br>
							<small>We invest moderately in our transportation future.</small>
						</h2>
					</div>

					<p class="lead">
						On this path, we will raise enough additional funding to address the current backlog of transportation issues facing our county. Mainly, this will focus on road resurfacing and widening, bike lanes, and strategic bus system improvements. 
					</p>

				</div>
			</div>

			<div id="item2" class="item">
				<div class="container">
					<div class="page-header">
						<h2 class="text-center">
							Solve The Problem<br>
							<small>We invest fully in our transportation future.</small>
						</h2>
					</div>

					<p class="lead">
						On this path, we will raise enough transportation funding to address all current needs and create new transportation systems like Bus Rapid Transit and Light Rail that will reduce congestion long-term and be able to handle our growing population.
					</p>

				</div>
			</div>

		</div>

		<!-- Controls -->
<!-- 		<a class="left" href="#carousel-info-jumbo" role="button" data-slide="prev">
			<span class="sr-only">Previous</span>
		</a>
		<a class="right" href="#carousel-info-jumbo" role="button" data-slide="next">
			<span class="sr-only">Next</span>
		</a> -->
	</div>

</div>









<ul class="nav nav-tabs nav-justified">
		<li><a href="#" data-target="#carousel-info-jumbo" data-slide-to="0" class="">Stay The Course</a></li>
		<li><a href="#" data-target="#carousel-info-jumbo" data-slide-to="1" class="">Address Our Challenges</a></li>
		<li><a href="#" data-target="#carousel-info-jumbo" data-slide-to="2" class="">Solve The Problem</a></li>
	</ul>